.DS_Store
/build
/installer/stage/
/installer/build/
/nbproject/private/
/src/viskit/xsd/bindings/
/MyViskitProjects/DefaultProject/build/
/MyViskitProjects/DefaultProject/lib/
/MyViskitProjects/DefaultProject/AnalystReports/
/MANIFEST.MF
/logs/
/viskit-exe.jar
/lib/ext/
/viskit-editor.jar
